<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Create Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <img src="assets/imgs/logo.png" class="logo"/>

  <ion-list>
    
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" #username></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type={{type}} #password></ion-input>
        <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
           <ion-icon name="eye"></ion-icon>
        </button>
        <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> 
          <ion-icon name="eye-off"></ion-icon>
        </button>
      </ion-item>
  
      <ion-item>
          <ion-label floating>Confirm Password</ion-label>
          <ion-input type={{typeCon}} #confirmpassword></ion-input>
          <button *ngIf="!showPassCon" ion-button clear color="dark" type="button" item-right (click)="showPasswordCon()">
             <ion-icon name="eye"></ion-icon>
          </button>
          <button *ngIf="showPassCon" ion-button clear color="dark" type="button" item-right (click)="showPasswordCon()"> 
            <ion-icon name="eye-off"></ion-icon>
          </button>
        </ion-item>
</ion-list>

<div padding>
  <button block ion-button (click)="registerUser()" item-left>Register</button>
</div>

</ion-content>