page-multi-profile {

}
.top {
    background-color: #DA2128;
    color: #f4f4f4;
    text-align: center;
}

.bottom {
    text-align: center;
    color: #333333;
}

.sub-details {
    background-color: #333333;
}

.profile-picture {
    border: 3px solid rgba(0, 0, 0, 0.25);
    padding: 3px;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0% auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.profile-picture img {
    object-fit: cover;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    image-orientation: from-image;
}
.profile-body {
    text-align: center;
  
    height: 30%;
    padding-top: 20px;
  
    text-transform: capitalize;
  }